*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}


.bg-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80vh;
    justify-items: center;
}
.bg-container > img {
    height: 95vh;
    /* min-width: fit-content; */
}

@media (max-width: 1450px) {
    .bg-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .bg-container > img {
    height: 100vh;
    }
}

@media (max-width: 950px) {
    .bg-container {
        grid-template-columns: 1fr;
    }
}