*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  box-shadow: 0px 0px 4px 0px;
  font-size: 2rem;
}

nav > button {
  border: none;
  margin: 0px;
  box-shadow: 0px 0px 4px 0px;
  border-radius: 4px;
}

nav > button:active {
  box-shadow: 0px 0px 0px;
}

.res-title {
  font-size: 5rem;
}

.splash-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding: 0px 20px 0px 20px;
  justify-content: center;
}

.img-wrapper {
  border: transparent solid 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-wrapper > img {
  width: fit-content;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px;
}

h1 {
  display: flex;
  justify-content: center;
}